/* #about{
    background: #00F260;
background: -webkit-linear-gradient(to right, #0575E6, #00F260);  
background: linear-gradient(to right, #0575E6, #00F260); 

} */

#para p{
    margin-top: -15px;
}