

/* padding: 0 20px; */
#achorTag{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

#achorTag:hover{
    color: #17cf97;
    text-decoration: underline solid #17cf97 2px;
    text-underline-offset: 5px;
}

/* .active{
    color: #17cf97;
    text-decoration: underline solid #17cf97 2px;
    text-underline-offset: 5px;
} */