/* #mission{
    background: #00F260; 
background: -webkit-linear-gradient(to right, #0575E6, #00F260); 
background: linear-gradient(to right, #0575E6, #00F260);

} */

.box{
    background-color: #158cba;
    border-radius: 20px;
    transition: all 1s ease-in-out;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
}

.box:hover{
    box-sizing: border-box;
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);

    transform: translateY(-5px) scale(1.03);
    box-shadow: 0 0 10px black;
    /* transition: all 1s ease-in-out; */
}

.box h4{
    text-decoration: underline;
    text-underline-offset: 5px;
    color: yellow;
}

.box p{
    text-align: justify;
    color: white;
}
