.grid-wrapp{
    position: relative;
    min-height: 100vh;
    background: #16a085;
}

.popup-image{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: block;
    padding-top: 5%;
}

.popup-image-dup{
    display: none;
}

.grid-wrap .popup-image .main{
    border: 5px ridge orange;
    position: absolute;
    top: 30%;
    cursor: pointer;
    padding: 20px;
    background-color: #282c34;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
}

.grid-wrap .popup-image .main:hover{
    background-color: #192a56;
}

.main span{
    animation: glowing-button 20s linear infinite;
}

@keyframes glowing-button {
  0% {color: red;}
  50% {color: green;}
}